.footer {
    background-color: #e66464;
    color: #0b1e5c;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #000000;
}
.social_list a {
    color: #000000;
}
.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #ff33c2;
}

.social_list svg {
    font-size: 1.5em;  
    cursor: pointer;
}

.copyright{
    margin-top: 2em;
}

.copyright span {
    font-weight: bold;
    color: #00346e;
}